body {
    font-family: 'Open Sans', sans-serif;
}

.navbar-brand span {
    color: #007bff; /* Cambiar al color que prefieras */
}

.footer {
    background-color: #f8f9fa;
    color: #6c757d;
}

.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 200px;
}
